body {
    background-color: rgb(146, 178, 239);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.lblMainText {
    font-size: 32px;
    color:rgb(71, 12, 101);
}

.GetTextBySymbol {
    width: 300px;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(78, 135, 221);
    box-shadow: 10px 20px 45px rgb(18, 146, 114);
}

.GetTextBySymbol:focus {
    border: 1px solid blue;
}

.btnMain {
    padding: 10px 32px;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: rgb(53, 199, 150);
    box-shadow: 0px 0px 30px 12px rgb(18, 146, 114);
    transition: all 0.9s;
    border: 1px solid rgb(34, 96, 212);
}

.btnMain:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.result {
    text-decoration: solid;
    text-overflow: clip;
    background-color: white;
    padding: 16px;
    border: solid 3px rgb(9, 93, 176);
    box-shadow: inset 0px 0px 40px 0px rgb(46, 128, 179);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-style: italic;
    color:rgb(18, 46, 184);
    min-width: 130%;
    min-height: 150px;
    margin: 32px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.notFound {
    text-decoration: solid;
    font-size: 32px;
    color: red;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-style: normal;
}

.graphicKonf {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    justify-content: center;
    visibility: hidden;
    box-sizing: border-box;
    padding: 10px 80px;
    height: 0px;
}

.itemRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 12px;
    align-items: center;
    justify-content: left;
}

.itemSymbol {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0px;
    font-style: italic;
    font-weight: bold;
    color: black;
    margin-right: 24px;
    min-width: 30px;
}

.itemGroupImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.graphicImg {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-right-width: 1.5px;
}

.last {
    border-right-width: 3px;
}

.logoFon {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.chemiaLogoImg {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin-right: 15px;
    margin-top: 10px;
    border: 3px solid purple;
}

.textLogo {
    font-size: 96px;
    font-family: Verdana, Tahoma, sans-serif;
    color:rgb(95, 12, 137);
    text-shadow:
    0 0 10px rgb(95, 12, 137),
    0 0 20px rgb(95, 12, 137);
}

.searchImg {
    width: 30px;
    height: 30px;
    padding-left: 5px;
}

.search {
    background-color: blueviolet;
    padding: 0px;
    padding-right: 10px;
    margin-left: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}