body {
    background-color: rgb(111, 145, 210);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.lblMainText {
    font-size: 32px;
    color:rgb(71, 12, 101);
}

.GetTextBySymbol {
    width: 300px;
    font-size: 20px;
    padding: 10px;
    margin: 0px 10px;
    background-color: lavender;
    border-radius: 15px;
    border: 1px solid green;
}

.btnMain {
    padding: 10px 32px;
    font-size: 20px;
    border-radius: 15px;
    background-color: aquamarine;
}

.textOfResult {
    text-decoration: solid;
    white-space: wrap;
    text-overflow: clip;
    background-color: white;
    padding: 32px;
    border: solid 3px red;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-style: italic;
    color:rgb(0, 21, 128);
    min-width: 120%;
    min-height: 300px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}